#===========================================================================================
# # Environment Configuration
#===========================================================================================

# NODE_ENV=production/development
NODE_ENV=
BACKEND_PORT=

#===========================================================================================
# # Database Configuration
#===========================================================================================

#LOCAL DB
DATABASE_URL=

# SUPABASE/RENDER DB
# DATABASE_URL=

#===========================================================================================
# # JWT Configuration -
# node -e "console.log('JWT_ACCESS_SECRET=' + require('crypto').randomBytes(64).toString('hex')); console.log('JWT_REFRESH_SECRET=' + require('crypto').randomBytes(64).toString('hex'));"
#===========================================================================================

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=

#===========================================================================================
# # CORS Configuration
#===========================================================================================

CORS_ORIGIN=

#===========================================================================================
# # Cloudinary Configuration
#===========================================================================================

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

#===========================================================================================
# # SMTP Configuration
#===========================================================================================

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

#===========================================================================================
# # Google Auth Configuration
#===========================================================================================

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

FRONTEND_URL=
APP_URL=

#===========================================================================================
# # Log configuration
#===========================================================================================

LOG_PRETTY=
LOG_LEVEL=

#===========================================================================================
# # Redis configuration
#===========================================================================================

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=
REDIS_CACHE_TTL=
REDIS_URL=
